@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-regular);
    color: var(--font-color);
    background-color: var(--background-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 160px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container {
    width: min(100%, 1588px);
}

.section__title {
    margin-bottom: 120px;
    text-align: center;
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 48px;
    line-height: 1.3;
    text-transform: uppercase;
    white-space: pre-line;
}

@media (max-width: 576px) {
    section {
        margin-bottom: 54px;
    }

    .container {
        padding: 0 20px;
    }

    .section__title {
        margin-bottom: 60px;
        font-size: 24px;
        text-align: left;
    }
}
