.section__block {
    display: grid;
    grid-template-areas:
        'image article'
        'article image';
    grid-template-columns: 54% auto;
    grid-template-rows: 480px 410px;
    gap: 130px 120px;
}

.img__wrapper {
    grid-area: 'image';

    & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.article {
    grid-area: 'article';
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;

    &:last-child {
        grid-area: 'secondarticle';
    }
}

.article__title {
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 25px;
}

.article__text {
    font-family: var(--font-regular);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    text-align: start;
}

@media (max-width: 576px) {
    .section__block {
        grid-template-areas:
            'image'
            'article'
            'secondimage'
            'secondarticle';
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 40px 0;
    }

    .img__wrapper {
        margin: 0 -20px;
        max-height: 370px;

        & img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &:last-child {
            grid-area: secondimage;
        }
    }

    .article {
        margin-bottom: 16px;
        &:last-child {
            grid-area: 'secondarticle';
        }
    }

    .article__title {
        font-size: 24px;
        line-height: 1.1;
        margin-bottom: 20px;
    }

    .article__text {
        font-size: 14px;
        line-height: 1.3;
        text-align: start;
    }
}
